.login {
    padding: 30px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    max-width: 100%;
    input {
        padding: 5px;
        border: 1px solid #ddd;
        margin-bottom: 20px;
    }
    button {
        margin-right: 10px;
        padding: 12px 18px;
        background: #2196F3;
        color: #fff;
    }
}
